<h1>Dashboard</h1> <%= link_to "Refresh", request.original_fullpath  %>


<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Request Id</th>
        <th>Customer Id</th>
        <th>Time Elapsed</th>
        <th>Status</th>
        <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    <% @rides.each_with_index do |ride, i| %>
        <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= ride.id %></td>
            <td><%= ride.customer_id %></td>
            <td><%= distance_of_time_in_words(ride.created_at, Time.now) %></td>
            <td><%= ride.status.to_s %></td>
            <td><%= ride.driver_id %></td>
        </tr>
    <% end %>
    </tbody>
</table>


