
<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">  
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:notice] %>
    </div>
<% elsif flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:error] %>
    </div>
<% end %>

<div class="row align-items-center customer_form">
    <div class="col-6 offset-3">
        <%= simple_form_for @customer, remote: true do |f| %>
            <%= f.input :id, placeholder: 'Customer Id', label: false %>
            <%= f.button :submit, "Find Ride", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>