
<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">  
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:notice] %>
    </div>
<% elsif flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:error] %>
    </div>
<% end %>

<h1>All driver listing</h1>