<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">  
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:notice] %>
    </div>
<% elsif flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= flash[:error] %>
    </div>
<% end %>
    <%= javascript_tag "driverId = #{params[:id] || 0} " %>
    <h1>Driver Page <%= params[:id] %></h1> <%= link_to "Refresh", request.original_fullpath  %>
<div class="flex col-md-10">
    <div class="col-md-3 inline">
        <div class="head">
            Waiting
        </div>
        <div class="wait body">
            <% @waitingRides.each do |ride| %>
                <div class="card" id="card-<%= ride.id %>">
                    <div class="card-block">
                        <div class="card-title">
                            <span class="left">Req Id: <%= ride.id %></span>
                            <span class="right">Customer Id: <%= ride.customer_id %></span>
                        </div>
                        <p class="card-text"><%= distance_of_time_in_words(ride.created_at, Time.now) %></p>
                        <%= simple_form_for :ride, {url: accept_path, remote: true} do |f| %>
                            <%= f.hidden_field :customer_id, value: ride.customer_id %>
                            <%= f.hidden_field :driver_id, value: params[:id] %>
                            <%= f.hidden_field :ride_id, value: ride.id %>
                            <%= f.button :submit, "Select", class: 'btn btn-primary' %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
    <div class="col-md-3 inline">
        <div class="head">
            Ongoing
        </div>
        <div class="body">
            <% @ongoingRides.each do |ride| %>
                <div class="card" id="card-<%= ride.id %>">
                    <div class="card-block">
                        <div class="card-title">
                            <span class="left">Req Id: <%= ride.id %></span>
                            <span class="right">Customer Id: <%= ride.customer_id %></span>
                        </div>
                        <p class="card-text">started <%=  distance_of_time_in_words(Time.now, ride.ride_start_time || ride.time)  %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
        <div class="col-md-3 inline">
        <div class="head">
            Completed
        </div>
        <div class="body">
            <% @completedRides.each do |ride| %>
                <div class="card" id="card-<%= ride.id %>">
                    <div class="card-block">
                        <div class="card-title">
                            <span class="left">Req Id: <%= ride.id %></span>
                            <span class="right">Customer Id: <%= ride.customer_id %></span>
                        </div>
                        <p class="card-text"><%= distance_of_time_in_words(ride.ride_end_time, Time.now) %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>