// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
    text-align: center;
}

.head {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.card-block {
    padding: 10px;
    min-height: 135px;
    
    .card-title {
        @include clearfix;
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
    .card-text {
        text-align: center;
    }
}

.card + .card {
    margin-top: 10px;
}