<!DOCTYPE html>
<html>
  <head>
    <title>Ola</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid outer-padding <%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
